projects/geometric-flow/build_old/
projects/geometric-flow/Test_obj/
projects/geometric-flow/build/
projects/geometric-flow/debug/
projects/geometric-flow/Results/
projects/geometric-flow/Subjobs/
projects/geometric-flow/Outputs/
projects/geometric-flow/.vscode/
projects/discrete-curvatures-and-normals/
build/
projects/geometric-flow/Config_files/
Blender_files/
y/
projects/geometric-flow/build_debug/